---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <h3 class="anchor"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p class="post-meta">
       <time>{{ post.date | date_to_string }}</time> {% for categories in post.categories  %}<a class="post-category" href="#">{{ categories }}
      {% endfor %}</a>
      <div class="post-entry">
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Читать далее</a>
    </article>
  <hr style="border: 0;border-bottom: 1px solid #ccc;">
  {% endfor %}
</div>
