    <nav>
        <ul>
            <li><a href="/"><i class="fa fa-home" title="Главная"></i></a></li>
            <li class="green"><a href="/stuff.html" title="Проекты и прочее"><i class="fa fa-archive"></i></a></li>
            <li class="blue"><a href="//kitze.ga" title="Песочница"><i class="fa fa-code"></i></a></li>
            <li class="orange"><a href="/colorpick.html" title="Палитра цветов"><i class="fa fa-eyedropper"></i></a></li>
            <li class="pink"><a href="/about.html" title="Биография и контакты"><i class="fa fa-grav"></i></a></li>
        </ul>    
    </nav>
