    <nav>
        <ul>
            <li><a href="/"><i class="fa fa-home" title="Главная"></i></a></li>
            <li class="green"><a href="/pages/stuff.html" title="Проекты и прочее"><i class="fa fa-archive"></i></a></li>
            <li class="blue"><a href="/pages/sandbox.html" title="Песочница"><i class="fa fa-code"></i></a></li>
            <li class="orange"><a href="/pages/colorpick.html" title="Палитра цветов"><i class="fa fa-eyedropper"></i></a></li>
            <li class="pink"><a href="/pages/about.html" title="Биография и контакты"><i class="fa fa-grav"></i></a></li>
        </ul>    
    </nav>
