.fa-tags {
    color: #5aba59;
}
.green {background: #87D37C;}
.blue {background: #22A7F0;}
.orange {background: #E87E04;}
.pink {background: #F62459;}
nav {
    float: right;
    position: relative;
    width: 38px;
    background-color: #e74c3c;
    font-size: 13px;
    z-index: 1;
}
nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
nav li {
    display: block;
    padding: 5px;
    width: 28px;
    transition: 0.5s;
}
nav .fa {
    font-size: 28px;    
    vertical-align: middle;
}
nav a {display: block; color: #fff;}
nav a:hover {color: #292929;}
nav li:hover {
    width: 45px;
}
.scrollup {
    float: right;
    background: #fff;
    color: #292929;
    padding: 5px 15px 5px 10px;
    width: 85px;
    font-size: 24px;
}
