@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
#social-platforms {
  position:relative;
  font-size:1rem;
  overflow:hidden;
  font-family: 'OpenSans', sans-serif;
  width: 200px;
}
.avatar {
    border-radius: 6px;
}
/*Pen code from this point on*/
.btn {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  overflow:hidden;
}

.btn:hover {
  
}

.btn:focus {
  
}

.btn > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8;
  width: 120px;
}

.btn:hover > span {
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0
}

/*VKontakte*/
.btn-vk:hover > i,.btn-vk:focus > i {
  color:#3b5998
}

.btn-vk > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#dd4b39
}

.btn-googleplus > span {
  background:#dd4b39
}

/*Pinterest*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#cb2028
}

.btn-pinterest > span {
  background:#cb2028
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6
}

.btn-linkedin > span {
  background:#007bb6
}
.fa-tags {
  color: #5aba59;
}
/*nv*/
nav {
    background: #fff;
    border-bottom:1px solid #C8C8C8;
    opacity:1;
    transition:opacity 600ms;
    -webkit-transition:opacity 600ms;
    -ms-transition:opacity 600ms;
    -o-transition:opacity 600ms
}
.scrolled nav {opacity:0}
nav ul {list-style:none;padding:0;margin:0 auto}
nav::after {clear:both;content:" ";display:block}
nav ul li {float:left}
nav ul a {
    display: block;
    padding: 5px;
    font-size: 11px;
    color:#7F7F7F;
    text-decoration:none;
    transition:background 200ms;
    -webkit-transition:background 200ms;
    -ms-transition:background 200ms;
    -o-transition:background 200ms
}
nav ul a:hover {background:#C8C8C8}
nav ul a svg {
    display:inline-block;
    transform:translate(0,.4em);
    -webkit-transform:translate(0,.2em)
}
.cf{clear:both}
.right{float:right}
